import: cabal.project
with-compiler: ghc-9.14.1
index-state: hackage.haskell.org 2026-01-18T03:41:01Z
constraints:
  Glob ==0.10.2,
  ansi-terminal ==1.1.5,
  ansi-terminal -example,
  ansi-terminal-types ==1.1.3,
  array ==0.5.8.0,
  base ==4.22.0.0,
  binary ==0.8.9.3,
  bytestring ==0.12.2.0,
  call-stack ==0.4.0,
  colour ==2.3.6,
  containers ==0.8,
  deepseq ==1.5.1.0,
  directory ==1.3.10.0,
  dlist ==1.0,
  dlist -werror,
  equational-reasoning ==0.7.1.0,
  exceptions ==0.10.11,
  file-io ==0.1.5,
  filepath ==1.5.4.0,
  ghc ==9.14.1,
  ghc-boot ==9.14.1,
  ghc-boot-th ==9.14.1,
  ghc-heap ==9.14.1,
  ghc-internal ==9.1401.0,
  ghc-platform ==0.1.0.0,
  ghc-prim ==0.13.1,
  ghc-tcplugins-extra ==0.5,
  ghc-tcplugins-extra -deverror,
  ghc-typelits-presburger +examples,
  ghci ==9.14.1,
  hashable ==1.5.1.0,
  hashable -arch-native -random-initial-seed,
  hpc ==0.7.0.2,
  mtl ==2.3.1,
  optparse-applicative ==0.19.0.0,
  optparse-applicative +process,
  ordered-containers ==0.2.4,
  os-string ==2.0.8,
  pretty ==1.1.3.6,
  prettyprinter ==1.7.1,
  prettyprinter -buildreadme +text,
  prettyprinter-ansi-terminal ==1.1.3,
  process ==1.6.26.1,
  reflection ==2.1.9,
  reflection -slow +template-haskell,
  rts ==1.0.3,
  safe ==0.3.21,
  semaphore-compat ==1.0.0,
  singletons ==3.0.4,
  singletons-base ==3.5.1,
  singletons-presburger +examples,
  singletons-th ==3.5.1,
  stm ==2.5.3.1,
  syb ==0.7.3,
  tagged ==0.8.10,
  tagged +deepseq +template-haskell,
  tasty ==1.5.3,
  tasty +unix,
  tasty-discover ==5.2.0,
  tasty-discover -dev,
  tasty-expected-failure ==0.12.3,
  tasty-hunit ==0.10.2,
  template-haskell ==2.24.0.0,
  text ==2.1.3,
  th-abstraction ==0.7.2.0,
  th-compat ==0.1.7,
  th-desugar ==1.19,
  th-expand-syns ==0.4.12.0,
  th-lift ==0.8.7,
  th-orphans ==0.13.17,
  th-reify-many ==0.1.10,
  time ==1.15,
  transformers ==0.6.1.2,
  transformers-compat ==0.8,
  transformers-compat -five +five-three +generic-deriving +mtl,
  unbounded-delays ==0.1.1.1,
  unix ==2.8.8.0,
  void ==0.7.4,
  void -safe
